<!DOCTYPE html>

<head>

</head>
<div class="circle-button collapsed" onclick="toggleSidebar()">
   <svg style="position: relative; z-index: 15; right: -16%; bottom: -13%;" xmlns="http://www.w3.org/2000/svg"
      fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      class="feather feather-chevron-left " viewBox="0 0 34 34" role="img">
      <path d="m15 18-6-6 6-6"></path>
   </svg>
</div>
<div class="sidebar" id="sidebar">
   <input id="userType" type="number" hidden value="<%= userType %>">
   <ul>
      <% if(userType===3){ %>
         <li>
            <a class="toggle-link" id="owner-paper-toggle" href="">
               <div id="Users" class="toggle-tab-container">
                  <div id="head" class="header">
                     <i id="paper" class="fa-solid fa-envelope"></i>
                     <span id="text" class="toggle-item">Users
                        emails</span>
                  </div>

               </div>
            </a>
         </li>
         <li>
            <a class="toggle-link" id="owner-paper-toggle-2" href="">
               <div id="admins" class="toggle-tab-container-2">
                  <div id="head" class="header">
                     <i id="paper-2" class="fa-solid fa-user-tie"></i>
                     <span id="text" class="toggle-item">Admins</span>
                     <div id="join-paperNotification" class="new-notfication"></div>
                  </div>

               </div>
            </a>
         </li>
         <li>
            <a class="toggle-link" id="owner-paper-toggle-3" href="">
               <div id="owner-posts" class="toggle-tab-container-3">
                  <div id="head" class="header">
                     <i id="paper-3" class="fa-solid fa-user-group"></i>
                     <span id="text" class="toggle-item">Posts</span>

                  </div>
               </div>
            </a>
         </li>
         <%} else{%>

            <li>
               <a class="toggle-link" id="paper-toggle" href="">
                  <div class="toggle-tab-container">
                     <div id="head" class="header">
                        <i id="paper" class="fa-solid fa-plus"></i>
                        <span id="new-post" class="toggle-item">New post</span>
                     </div>

                  </div>
               </a>
            </li>
            <li>
               <a class="toggle-link" id="paper-toggle-2" href="">
                  <div id="posts" class="toggle-tab-container">
                     <div id="head" class="header">
                        <i class="fa-solid fa-"></i>
                        <span id="your-posts" class="toggle-item">Your posts</span>
                     </div>

                  </div>
               </a>
            </li>

            <%}%>
   </ul>



</div>


<div id="startpost-popup" class="create-post">
   <div class="startpapers-label" id="publish-post">Publish a post</div>
   <div class="startpost-popup">
      <i class="fas fa-times"></i>
      <div class="input-group">
         <input type="text" name="name" id="post-title" required placeholder="Write your project title here ">
      </div>
      <table border="1" cellpadding="10" cellspacing="0">
         <tbody>
            <tr>
               <section class="tools" id="tools" draggable="false" contenteditable="false">

                  <input id="fontFamily" class="fontFamily" title="Font family" value="Arial, sans-serif">
                  <div class="fontSize">
                     <i id="increase-i">
                        <svg id="decrease" height="24" viewBox="0 0 24 24" width="60" xmlns="http://www.w3.org/2000/svg">
                           <path class="heroicon-ui"
                              d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm4-8a1 1 0 0 1-1 1H9a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1z" />
                        </svg>
                     </i>


                     <input id="font-size" value="18"></p>
                     <i>
                        <svg width="26" id="increase" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                           stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                              fill-rule="nonzero" />
                        </svg>
                     </i>

                     <!-- <i id="increase" class="fa-solid fa-plus"></i> -->
                  </div>

                  <input type="color" name="color" id="color-picker" title="font color">
                  <div class="dividerdivider">

                  </div>
                  <i id="bold" class="tools-item fa-solid fa-bold"></i>
                  <i id="italic" class="tools-item fa-solid fa-italic"></i>
                  <i id="underline" class="tools-item fa-solid fa-underline"></i>
                  <i id="divide" class="tools-item fa-solid fa-window-minimize"></i>
                  <div class="divider"></div>

                  <i id="make-list" class="tools-item fa-solid fa-caret-right"></i>
                  <!-- <i class="fa-solid fa-list-ol"></i> -->

                  <div class="divider"></div>

                  <i id="align-left" class="tools-item fa-solid fa-align-left" title="Align Left"></i>
                  <i id="align-right" class="tools-item fa-solid fa-align-right" title="Align Right"></i>
                  <i id="align-center" class="tools-item fa-solid fa-align-center" title="Align Center"></i>
                  <div class="divider"></div>
                  <label for="post-image">
                     <i id="choose-image" class="fa-regular fa-image" title="upload image"></i>
                  </label>
                  <input type="file" multiple id="post-image" name="post-image" style="display: none;" alt="image/*">
               </section>
            </tr>
            <tr>
               <div id="post-text" contenteditable="true" class="editable-text">
                  <span id="placeholder" class="placeholder">Enter your text here...</span>
               </div>
            </tr>
            <tr>
               <td>
                  <div id="tags-container" class="input-group">
                     <label for="name">Tags</label>
                     <div class="input-container">
                        <div id="tags-overlay" class="tags-overlay"></div>
                        <input type="text" id="tags" name="name" placeholder="Write tags related to the topic...">
                     </div>
                  </div>
               </td>
               <td id="publish-container"><button id="start_post">publish</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<div class="yourpostspopup" id="yourposts-popup">
   <div class="startpapers-label" id="posts-label">Posts</div>
   <div class="yourposts-popup" id="Myposts"></div>
</div>
<div id="editpost-popup" class="edit-post">

</div>
<div id="users-popup" class="users-popup">
   <div class="startpapers-label" id="users-label">Users</div>
   <div id="users" class="users">

   </div>
</div>
<div id="admins-popup" class="admins-popup">
   <div class="startpapers-label" id="admins-label">Admins</div>
   <div id="Admins" class="users">

   </div>
</div>

<div id="user-tools" class="user-tools">
   <a id="ban-user">Ban</a>
   <a id="set-admin">Set as admin</a>
</div>

<div id="admin-tools" class="user-tools">
   <a id="degrade-admin">Degrade to user</a>
</div>
<div id="fonts-list" class="fonts-list">
   <!-- Arabic Fonts -->
   <a>Amiri, serif</a>
   <a>Cairo, sans-serif</a>
   <a>Droid Arabic Kufi, serif</a>
   <a>Lateef, serif</a>
   <a>Almarai, sans-serif</a>
   <a>Montserrat Arabic, sans-serif</a>
   <a>Tajawal, sans-serif</a>
   <a>Rakkas, cursive</a>
   <a>Markazi Text, serif</a>
   <a>Sakkal Majalla, sans-serif</a>
   <a>Harmattan, sans-serif</a>
   <a>El Messiri, sans-serif</a>
   <a>Reem Kufi, sans-serif</a>
   <a>Samim, sans-serif</a>
   <a>Sofia, sans-serif</a>
   <a>Ruda, sans-serif</a>
   <a>Amethyst, serif</a>
   <a>Janna LT, sans-serif</a>
   <a>Amiri Quran, serif</a>
   <!-- English Fonts -->
   <a>Arial, sans-serif</a>
   <a>Verdana, sans-serif</a>
   <a>Helvetica, sans-serif</a>
   <a>Tahoma, sans-serif</a>
   <a>Trebuchet MS, sans-serif</a>
   <a>Times New Roman, serif</a>
   <a>Georgia, serif</a>
   <a>Garamond, serif</a>
   <a>Courier New, monospace</a>
   <a>Brush Script MT, cursive</a>
   <a>Sans-Serif</a>
   <a>Poppins</a>
   <a>Roboto, sans-serif</a>
   <a>Montserrat, sans-serif</a>
   <a>Open Sans, sans-serif</a>
   <a>Lora, serif</a>
   <a>Playfair Display, serif</a>
   <a>Merriweather, serif</a>
   <a>Lobster, cursive</a>
   <a>Pacifico, cursive</a>
   <a>Nunito, sans-serif</a>
   <a>Mukta, sans-serif</a>
   <a>Raleway, sans-serif</a>
   <a>Ubuntu, sans-serif</a>
</div>

<div id="text-fonts-list" class="text-fonts-list">
   <!-- Arabic Fonts -->
   <a>Amiri, serif</a>
   <a>Cairo, sans-serif</a>
   <a>Droid Arabic Kufi, serif</a>
   <a>Lateef, serif</a>
   <a>Almarai, sans-serif</a>
   <a>Montserrat Arabic, sans-serif</a>
   <a>Tajawal, sans-serif</a>
   <a>Rakkas, cursive</a>
   <a>Markazi Text, serif</a>
   <a>Sakkal Majalla, sans-serif</a>
   <a>Harmattan, sans-serif</a>
   <a>El Messiri, sans-serif</a>
   <a>Reem Kufi, sans-serif</a>
   <a>Samim, sans-serif</a>
   <a>Sofia, sans-serif</a>
   <a>Ruda, sans-serif</a>
   <a>Amethyst, serif</a>
   <a>Janna LT, sans-serif</a>
   <a>Amiri Quran, serif</a>
   <!-- English Fonts -->
   <a>Arial, sans-serif</a>
   <a>Verdana, sans-serif</a>
   <a>Helvetica, sans-serif</a>
   <a>Tahoma, sans-serif</a>
   <a>Trebuchet MS, sans-serif</a>
   <a>Times New Roman, serif</a>
   <a>Georgia, serif</a>
   <a>Garamond, serif</a>
   <a>Courier New, monospace</a>
   <a>Brush Script MT, cursive</a>
   <a>Sans-Serif</a>
   <a>Poppins</a>
   <a>Roboto, sans-serif</a>
   <a>Montserrat, sans-serif</a>
   <a>Open Sans, sans-serif</a>
   <a>Lora, serif</a>
   <a>Playfair Display, serif</a>
   <a>Merriweather, serif</a>
   <a>Lobster, cursive</a>
   <a>Pacifico, cursive</a>
   <a>Nunito, sans-serif</a>
   <a>Mukta, sans-serif</a>
   <a>Raleway, sans-serif</a>
   <a>Ubuntu, sans-serif</a>
</div>