<!DOCTYPE html>

<head>
   <link rel="stylesheet" href="/css/home.css">
   <script src="https://unpkg.com/feather-icons"></script>

   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<div class="circle-button toggled" onclick="toggleSidebar()">
   <svg style="position: relative; z-index: 15; right: -16%; bottom: -13%;" xmlns="http://www.w3.org/2000/svg"
      fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      class="feather feather-chevron-left " viewBox="0 0 34 34" role="img">
      <path d="m15 18-6-6 6-6"></path>
   </svg>
</div>
<div class="sidebar open" id="sidebar">
   <input id="user-id" hidden value="<%= user._id %>">
   <input id="user-mainfield" hidden value="<%= user.mainfield %>">
   <ul id="sidebar-content">
      <li>
         <a id="home" href="#">

            <div id="head" class="header">
               <i class="fas fa-home"></i>
               <span class="text-only">Home</span>
               
            </div>
         </a>
      </li>
      <li>
         <a  class="toggle-link" id="paper-toggle" href="">
            <div class="toggle-tab-container">
               <div id="head" class="header">
                  <i id="paper" class="fas fa-file"></i>
                  <span id="new-paper" class="text toggle-item">Create paper</span>
                  <div id="create-newNotification" class="new-notfication"></div>
                  <span class="tab-icon">
                     <div class="create-dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                           stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-down"
                           viewBox="0 0 34 34" role="img">
                           <path d="m15 18 6 6-6 6"></path>
                        </svg>
                     </div>
                  </span>

               </div>
               <ul class="sublist">
                  <li id="start_paper_button">Start a paper</li>
                  <li id="your-papers-button">Your papers</li>
               </ul>
            </div>
         </a>
      </li>
      <li>
         <a class="toggle-link" id="paper-toggle-2" href="">
            <div class="toggle-tab-container-2">
               <div id="head" class="header">
                  <i id="paper-2" class="fa-solid fa-handshake"></i>
                  <span id="join-paper" class="text toggle-item">Join papers</span>
                  <div id="join-paperNotification" class="new-notfication"></div>

                  <span class="tab-icon">
                     <div class="create-dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                           stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-down"
                           viewBox="0 0 34 34" role="img">
                           <path d="m15 18 6 6-6 6"></path>
                        </svg>
                     </div>
                  </span>
               </div>
               <ul class="sublist-2">
                  <li id="searchpapers-button">Search </li>
                  <li id="joined-papers-button">already joined</li>
               </ul>
            </div>
         </a>
      </li>
      <li>
         <a class="toggle-link" onclick="show_Single_conversation()" id="paper-toggle-4" href="">
            <div class="toggle-tab-container-4">
               <div id="head" class="header">
                  <i id="paper-3" class="fa-solid fa-user-group"></i>
                  <span id="friends-tab" class="text toggle-item">friends</span>
                  
               </div>
               
            </div>
         </a>
      </li>
      <li>
         <a onclick="show_public_conversation()" href="#" id="chat">
            <!-- <i class="fa-solid fa-comment"></i>
            <span class="text-only">Public chat</span> -->
            <div id="head" class="header">
               <!-- <i id="paper-3" class="fa-solid fa-user-group"></i> -->
               <i class="fa-solid fa-comment"></i>
               <span id="chat-tab" class="text toggle-item">Public chat</span>
               
            </div>
         </a>
      </li>
      <li >
         <a id="notifications-button" href="#">
            
            <div id="head" class="header">
               <i class="fa-solid fa-bell"></i>
               <span id="notifications" class="text-only">Notifications</span>
               
               </span>
               </span>
            </div>
            <div id="newNotification" class="new-notfication"></div>
         </a>
      </li>
   </ul>
</div>

<div class="papersContainer">

</div>
<div id="startpaper-popup" class="create-paper">
   <div class="startpapers-label" >Start paper</div>
   <div class="startpaper-popup">

      <i class="fas fa-times"></i>
      <div id="title" class="input-group">

         <input type="text" name="name" id="paper_title" required placeholder="Write your project title here ">
      </div>
      <table border="1" cellpadding="10" cellspacing="0">
         <tbody>
            <tr>
               <td>
                  <div class="input-group" id="project-branch">
                     <label for="text">Main field</label>
                     <div id="projectbranch-container" class="education-container">
                        <input type="text" id="project_branch" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="Main field">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="projectbranch-list" class="education-dropdown-options">
                              <li data-value="Engineering">Engineering</li>
                              <li data-value="Medicine and Health Sciences">Medicine and Health Sciences</li>
                              <li data-value="Computer Science">Computer Science</li>
                              <li data-value="Law">Law</li>
                              <li data-value="Natural Sciences">Natural Sciences</li>
                              <li data-value="Social and Humanities Sciences">Social and Humanities Sciences</li>
                              <li data-value="Economics and Management">Economics and Management</li>
                              <li data-value="Agriculture and Natural Resources">Agriculture and Natural Resources</li>
                              <li data-value="Arts">Arts</li>
                              <li data-value="Material Sciences">Material Sciences</li>
                              <li data-value="Space Sciences">Space Sciences</li>
                              <li data-value="Interdisciplinary Studies">Interdisciplinary Studies</li>
                              <li data-value="Environmental and Sustainability">Environmental and Sustainability</li>
                              <li data-value="Security Studies">Security Studies</li>
                              <li data-value="Marine Sciences">Marine Sciences</li>
                              <li data-value="Disaster Management">Disaster Management</li>

                        </ul>
                     </div>
                  </div>
               </td>
               <td>
                  <div class="input-group" id="study-container">
                     <label for="institute">Type of study</label>
                     <div id="typeofstudy-container" class="institute-container">
                        <input type="text" id="type_of_study" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="Study type">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="typeofstudy-list" class="institute-dropdown-options">

                           <li data-value="Experimental">Experimental </li>
                           <li data-value="Observational">Observational </li>
                           <li data-value="Descriptive">Descriptive </li>
                           <li data-value="Correlational">Correlational </li>
                           <li data-value="Case study">Case study </li>
                        </ul>
                     </div>
                  </div>
               </td>
               <td>
                  <div class="input-group" id="we-need-container">
                     <label for="institute">We need</label>
                     <div id="weneed-container" class="university-container">
                        <input type="text" id="we_need" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="we need">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="weneed-list" class="university-dropdown-options">
                           <li data-value="Writer">Writer</li>
                           <li data-value="Data collector">Data collector</li>
                           <li data-value="Data Analysis">Data Analysis</li>
                           <li data-value="Supervisor">Supervisor</li>
                           <li data-value="Microsoft office Expert">Microsoft office Expert</li>
                           <li data-value="Puplishing expert">Puplishing expert</li>
                        </ul>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td class="tags-td">
                  <div class="input-group" id="tags-container">
                     <label for="tags">Tags</label>
                     <div class="input-container">
                        <div id="tags-overlay" class="tags-overlay"></div>
                        <input type="text" id="tags" name="name" placeholder="Write tags related to the topic...">
                     </div>
                  </div>
               </td>
               <td class="language-td">
                  <div class="input-group" id="lang-container">
                     <label for="language">Language</label>
                     <div id="start-language-container" class="institute-container">
                        <input type="text" id="start-language-input" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="language">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="start-language-list" class="institute-dropdown-options">
                           <li data-value="Arabic">Arabic </li>
                           <li data-value="English">English</li>
                        </ul>
                     </div>
                  </div>
               </td>
               <td>
                  <div class="input-group" id="tags-container">
                     <label for="description">Description</label>
                     <div class="input-container">
                        <input type="text" id="description" name="description" placeholder="Describe your paper briefly ...">
                     </div>
                  </div>
                 
               </td>
               <tr><td><button id="start_create">create</button></td></tr>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<div id="yourpapers-popup" class="yourpapers-popup">
   <div class="yourpapers-label" id="joined">Your papers</div>
   <div id="yourpapers-container" class="yourpapers-container">

   </div>
</div>

<div id="searchpapers-popup" class="search-papers">
   <div class="searchpapers-label">Search papers</div>
   <div class="searchpapers-popup">
      <div class="search-container">
         <i class="fa-solid fa-magnifying-glass"></i>
         <input class="search-input" type="text" id="paper-title" placeholder="Search a paper by title"
            class="search-input">
      </div>
      <div id="advanced_button" class="dropdown-icon">
         <svg style="position: relative; z-index: 15; right: -16%; bottom: -13%;" xmlns="http://www.w3.org/2000/svg"
            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="feather feather-chevron-left " viewBox="0 0 34 34" role="img">
            <path d="m15 18-6-6 6-6"></path>
         </svg>
      </div>
      <span id="advanced">Advanced search</span>
      <div id="" class="advancedsearch-container">
         <table>
            <thead>

               <th>
                  <div class="input-group">
                     <input type="text" name="name" id="ID" required placeholder="Paper ID">
                  </div>
               </th>
               <th>
                  <div class="input-group" id="Project-branch">
                     <div id="paper-projectbranch-container" class="education-container">
                        <input type="text" id="paper_project_branch" name="country-innerInput" aria-label="Country"
                           autocomplete="on" class="styled-input" placeholder="Main field">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="paper-projectbranch-list" class="education-dropdown-options">
                           
                           <li data-value="Engineering">Engineering</li>
                           <li data-value="Medicine and Health Sciences">Medicine and Health Sciences</li>
                           <li data-value="Computer Science">Computer Science</li>
                           <li data-value="Law">Law</li>
                           <li data-value="Natural Sciences">Natural Sciences</li>
                           <li data-value="Social and Humanities Sciences">Social and Humanities Sciences</li>
                           <li data-value="Economics and Management">Economics and Management</li>
                           <li data-value="Agriculture and Natural Resources">Agriculture and Natural Resources</li>
                           <li data-value="Arts">Arts</li>
                           <li data-value="Material Sciences">Material Sciences</li>
                           <li data-value="Space Sciences">Space Sciences</li>
                           <li data-value="Interdisciplinary Studies">Interdisciplinary Studies</li>
                           <li data-value="Environmental and Sustainability">Environmental and Sustainability</li>
                           <li data-value="Security Studies">Security Studies</li>
                           <li data-value="Marine Sciences">Marine Sciences</li>
                           <li data-value="Disaster Management">Disaster Management</li>
                        </ul>
                     </div>
                  </div>
               </th>
               <th>
                  <div class="input-group">
                     <div id="language-container" class="institute-container">
                        <input type="text" id="language-input" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="language">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="language-list" class="institute-dropdown-options">
                           <li data-value="Arabic">Arabic </li>
                           <li data-value="English">English</li>
                        </ul>
                     </div>
                  </div>
               </th>
               <th>
                  <div class="input-group" id="we-need">
                     <div id="paper-weneed-container" class="university-container">
                        <input type="text" id="paper_we_need" name="country-innerInput" aria-label="Country"
                           autocomplete="off" class="styled-input" placeholder="We need">
                        <div class="icon-container">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-chevron-down">
                              <polyline points="6 9 12 15 18 9"></polyline>
                           </svg>
                        </div>
                        <ul id="paper-weneed-list" class="university-dropdown-options">
                           <li data-value="Writer">Writer</li>
                           <li data-value="Data collector">Data collector</li>
                           <li data-value="Data Analysis">Data Analysis</li>
                           <li data-value="Supervisor">Supervisor</li>
                           <li data-value="Microsoft office Expert">Microsoft office Expert</li>
                           <li data-value="Puplishing expert">Puplishing expert</li>
                        </ul>
                     </div>
                  </div>
               </th>
            </thead>
            <tbody>
               <!-- <tr>

               </tr>
               <tr>
                  <td>

                  </td>
                  <td></td>
               </tr> -->
            </tbody>
         </table>

      </div>

      <button id="search">search</button>
      <div id="paper-result" class="paper-result">

      </div>
   </div>
</div>

<div id="joinedpapers-popup" class="joinedpapers-popup">
   <div class="joined-label" id="joined">Joined papers</div>
   <div class="joinedpapers-container">

   </div>
</div>

<div id="yourfriends-popup" class="yourfriends-popup">
   <div class="yourfriends-label" >Your friends</div>
   <div class="yourfriends-container">


   </div>
</div>

<div id="searchfriends-popup" class="search-friends">
   <div class="searchfriends-label" >Search friends</div>
   <div class="searchfriends-popup">
      <div class="search-container">
         <i class="fa-solid fa-magnifying-glass"></i>
         <input id="friend-search-input" class="search-input" type="text" placeholder="Friend's id, name, email"
            class="search-input">
      </div>
      <button id="friend-search">search</button>
      <div id="friend-result" class="friend-result">
      </div>
   </div>
</div>

<div id="notifications_popup" class="notifications-popup">
   <div class="notifications-label" >Notifications</div>
   <div id="notifications-container" class="notifications-container">
   </div>
</div>