<font color=\"#b5b5b5\"><span><span id=\"adjust-span\" style=\"color: rgb(0, 0, 0);\">يُعد السهر لساعات متأخرة من الليل
            عادةً شائعة تؤثر سلبًا على صحة الجسم، خاصةً ضغط الدم. عند السهر، يتعرض الجسم لتغيرات في إفراز الهرمونات مثل
            الكورتيزول، ما يؤدي إلى زيادة التوتر وارتفاع مؤقت في ضغط الدم. قلة النوم تعيق تنظيم الجسم لوظائفه الحيوية،
            مما يزيد من خطر الإصابة بارتفاع ضغط الدم المزمن على المدى الطويل.<span></span></span></span><span></span>
</font>
<div>
    <div style=\"\">كما تشير الدراسات إلى أن السهر المتكرر يؤدي إلى اضطراب الساعة البيولوجية، وبالتالي يؤثر على كفاءة
        القلب والأوعية الدموية. لذلك، يُنصح بالنوم المنتظم لمدة تتراوح بين 6 إلى 8 ساعات يوميًا لضمان توازن ضغط&nbsp;
    </div>
    <div style=\"\">الدم والحفاظ على صحة القلب</div>
</div>
<ul class=\"chapters-list\">
    <li id=\"li-0\"><span class=\"title-container\"><span contenteditable=\"false\" class=\"list-icon\">◀</span><span
                class=\"title-text\" contenteditable=\"true\">\r\n <span>اسباب ضغط الدم</span></span></span>
        <section id=\"section-0\" contenteditable=\"true\" style=\"display: none;\">
            <section id=\"section-0\" style=\"display: block;\">1. العوامل الوراثية.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;2. الإفراط في تناول الملح.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;3. السمنة وزيادة الوزن.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;4. قلة النشاط البدني.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;5. التوتر والضغوط النفسية.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;6. الإفراط في تناول الكافيين والكحول.</section>
            <section id=\"section-0\" style=\"display: block;\">&nbsp;7. التدخين</section>
        </section>
    </li>
    <li id=\"li-1\"><span class=\"title-container\"><span contenteditable=\"false\" class=\"list-icon\">◀</span><span
                class=\"title-text\" contenteditable=\"true\">\r\n <span>طرق الوقايه</span></span></span>
        <section id=\"section-1\" contenteditable=\"true\" style=\"display: none;\">
            <section id=\"section-1\" style=\"display: block;\">1. اتباع نظام غذائي صحي قليل الملح.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;2. ممارسة الرياضة بانتظام.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;3. الحفاظ على وزن صحي.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;4. التقليل من التوتر والضغوط النفسية.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;5. الإقلاع عن التدخين.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;6. الحد من تناول الكافيين والكحول.</section>
            <section id=\"section-1\" style=\"display: block;\">&nbsp;7. النوم الكافي والمنتظم</section>
        </section>
    </li>
    <li id=\"li-2\"><span class=\"title-container\"><span contenteditable=\"false\" class=\"list-icon\">◀</span><span
                class=\"title-text\" contenteditable=\"true\">\r\n <span>مصادر</span></span></span>
        <section id=\"section-2\" contenteditable=\"true\" style=\"display: none;\">
            <section id=\"section-2\" style=\"display: block;\">1. المواقع الطبية الموثوقة (مثل: Mayo Clinic، WebMD).
            </section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;2. منظمة الصحة العالمية (WHO).</section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;3. الجمعية الأمريكية لأمراض القلب (AHA).</section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;4. الأبحاث والدراسات الطبية المنشورة.</section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;5. استشارة الأطباء والمتخصصين.</section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;6. الكتب العلمية الموثوقة.</section>
            <section id=\"section-2\" style=\"display: block;\">&nbsp;7. المجلات الطبية العالمية (مثل: The Lancet، JAMA)
            </section>
        </section>
    </li>
</ul>