<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <style>
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            form{
                width: 94%;
                height: 30vw;
                gap:3vw;
               
            }
        }
        @media (max-width:425px) {

            form {
                background-color: white;
                display: flex;
                flex-direction: column;
                width: 82%;
                height: 65vw;
                gap: 15vw;
                border-radius: 10px;
                padding: 6%;
            }
        }
    </style>
</head>

<body id="auth-body">
    <div class="loading-spinner" id="loading-spinner"></div>
    <div class="navbar">
        <img src="/images/ictoob.png" alt="not found">
    </div>
    <form id="custom-login" action="">
        <div class="creds">

            <div class="input-group">
                <label for="name">email</label>
                <input type="email" id="email" name="email" required placeholder="Enter your email">
            </div>
            
            <div
                class="css-tn47vl-StackItem eexjih91">
                <div
                    class="css-1eo534h-StyledContainer ecgpf3y0">
                    <input
                        type="password"
                        placeholder="Enter your password"
                        name="password"
                        id="password"
                        aria-label="Password"
                        autocomplete="on"
                        class="css-13h4v91-StyledPasswordInput ecgpf3y2"
                        >
                    <input type="text" name="type" hidden value="Admin">
                        <button
                        aria-label="password visibility icon"
                        type="button"
                        id="passowrd-Toggle"
                        class="css-fw9vqi-StyledIconBtn ecgpf3y1">
                        <div data-ds-id="Icon"
                            data-variant="tertiary"
                            color="tertiary"
                            class="css-1g6lhus-StyledIcon esvztbe0">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="none"
                                viewBox="0 0 16 16">
                                <path
                                    fill="currentColor"
                                    fill-rule="evenodd"
                                    d="M12.3 12.57l2.286 2.344L16 13.5 2.914.086 1.5 1.5l2.013 2.063c-.537.396-1.007.827-1.407 1.246a13.327 13.327 0 00-1.65 2.135 2 2 0 000 2.112c.053.084.111.176.176.275.332.505.826 1.18 1.474 1.86C3.387 12.531 5.381 14 8 14c1.707 0 3.148-.623 4.3-1.43zm-1.42-1.455l-.868-.89a3 3 0 01-4.187-4.292l-.899-.92c-.509.345-.968.753-1.373 1.177A11.328 11.328 0 002.155 8c.044.07.093.148.148.232.284.432.705 1.007 1.25 1.577C4.66 10.97 6.165 12 8 12c1.078 0 2.043-.355 2.88-.884zM7.225 7.368A1 1 0 008.613 8.79zm-.016-5.323l2.146 2.146c1.231.35 2.271 1.14 3.092 2A11.335 11.335 0 0113.845 8a10.71 10.71 0 01-.269.412l1.435 1.435a13.598 13.598 0 00.533-.791 2 2 0 000-2.112 13.314 13.314 0 00-1.65-2.135C12.613 3.467 10.619 2 8 2c-.27 0-.534.017-.79.046z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        
        <button id="log-in">Login</button>
        <p id="error" class="error"></p>

    </form>

    <script src="/js/apis.js"></script>
</body>

</html>