<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        landing
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <div class="navbar">

        <div class="auth-buttons">
            <button id="signIn" onclick="redirect('pages/login')">
                Sign in
            </button>
            <button id="signUp" onclick="redirect('pages/register')">
                Sign up
            </button>
        </div>

        <div class="tabBar">
            <a href="#">Home</a>
            <a href="#">create paper</a>
            <a href="#">join paper</a>
            <a href="">
                Pricing
                <i id="pricing-toggle" class="fa-solid fa-chevron-up"></i>
            </a>
        </div>

        

    </div>

    <img class="logo" src="images/ictoob.png" alt="not found">
    <section class="section-1col bg-imghomeint">
        <div class="banner" style="display: none;">
            <div class="containerbanner">
                <h5 class="weight-regular color-dark02 inline"><strong>NEJM Knowledge+ </strong>now on<strong> AMBOSS
                    </strong>for your board exam prep</h5><a track-prop-value="none" track-evt="register_button_clicked"
                    href="https://next.amboss.com/us/score-predictor" target="_blank"
                    class="btn-small-light align-center w-button">Find Out&nbsp;More</a><img
                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/65b7a2b4feccb929335dc0de_close.svg"
                    loading="lazy" height="" alt="X icon - close the banner"
                    data-w-id="8394e315-571e-124f-33c0-c4cea8e40de3" class="ic_close">
            </div>
        </div>
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title">
                <h2><strong><br>Start today and be part of a community of <br>specialists and scholars from various
                        fields and nationalities.</strong></h2>
            </div>
            <div class="container-content">
                <h5 class="weight-regular color-dark02">A secure and trusted community that exclusively attracts
                    scientists and researchers, to collaboration on scientific and literary projects</h5>
            </div>
            <div class="container-footer">
                <div><a track-prop-value="none" track-evt="register_button_clicked" class="btn-lg-brand w-button">Start
                        Free
                        Trial</a>
                    <p id="not-credit" class="xsmall btn-companion">(No credit card required)</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3col">
        <div class="w-layout-blockcontainer container-3col w-container">
            <div id="w-node-_96373deb-555d-421c-6287-eddd93098bfd-f07b2df5" class="w-layout-layout wf-layout-layout">
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098bfe-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/home.svg" loading="lazy" height="" alt="Icon computer with image and comment"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>Updated news and subscriptions</strong></h5>
                        <!-- <p>Dive into interlinked content in the library during Question Bank sessions.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/think.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong> crest from scratch your own project and be the leader</strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/group.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>join & collaborate by your skills!</strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/connect.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>thousands of people same your carrier at one chat </strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>

                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/add-person.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong> make friends and chat </strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->

                    </div>
                </div>


                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c06-f07b2df5" class="w-layout-cell cell-3col">
                    <img src="/images/settings.svg" loading="lazy" height="" alt="Icon Anki add-on" class="ic-3col">

                    <div class="txt-3col">
                        <h5><strong>special free and premium service for you</strong></h5>
                        <!-- <p>Hover over any term for a brief definition and click to read the full article.<br></p> -->
                    </div>
                </div>


            </div>
        </div>
    </section>
    <div class="container-huge z-index-100">
        <div data-w-id="53cd977a-2bd2-b87a-4db7-5b1e93c787f6" class="_3d-animation">
            <!-- <img
                src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664f241c29359dccfb0ff0c5_Party%20Wumpus.webp"
                loading="lazy" alt="" class="chats_top-image hide"><img
                src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6620ec7544fa3849c3cb27fc_party_wumpus.gif"
                loading="lazy" alt="" class="chats_top"> -->
            <div class="home--block-group block-1">
                <div class="home--2col_layout on">
                    <div class="home--image-wr video">
                        <!-- <img
                            src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6634cb38dc3cb7acca8fa801_BKG.webp"
                            loading="lazy" width="762.5" sizes="100vw" alt=""
                            srcset="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6634cb38dc3cb7acca8fa801_BKG-p-500.webp 500w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6634cb38dc3cb7acca8fa801_BKG-p-800.webp 800w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6634cb38dc3cb7acca8fa801_BKG-p-1080.webp 1080w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6634cb38dc3cb7acca8fa801_BKG.webp 1521w"
                            class="home--group-chat-img hide reduce-motion-img"> -->
                        <img src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664723da0a2e6be98fa5216b_Discord_Website_Refresh_Emojis%2BSoundboard.webp"
                            loading="lazy" sizes="100vw"
                            srcset="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664723da0a2e6be98fa5216b_Discord_Website_Refresh_Emojis%2BSoundboard-p-500.webp 500w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664723da0a2e6be98fa5216b_Discord_Website_Refresh_Emojis%2BSoundboard-p-800.webp 800w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664723da0a2e6be98fa5216b_Discord_Website_Refresh_Emojis%2BSoundboard-p-1080.webp 1080w, https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664723da0a2e6be98fa5216b_Discord_Website_Refresh_Emojis%2BSoundboard.webp 1223w"
                            alt="Make your group chats more fun" class="home-2-block-gift hide reduce-motion-img">
                        <div data-poster-url="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-poster-00001.jpg"
                            data-video-urls="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-transcode.mp4,https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-transcode.webm"
                            data-autoplay="true" data-loop="true" data-wf-ignore="true"
                            class="home--group-chat-img video w-background-video w-background-video-atom"><video
                                id="a02aafd0-5263-8c7a-e8e6-eddeb8d5f018-video" autoplay="" loop=""
                                style="background-image:url(&quot;https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-poster-00001.jpg&quot;)"
                                muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"
                                src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-transcode.mp4">
                                <source
                                    src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-transcode.mp4"
                                    data-wf-ignore="true">
                                <source
                                    src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/663b271d6f05c8c9e11f8d65_Discord Refresh Sound-MP4-transcode.webm"
                                    data-wf-ignore="true">
                            </video></div>
                    </div>
                    <div class="home--text-wr is-mobile-first">
                        <h2 class="heading--h2">Updated news</h2>
                        <!-- <p class="body-text--xl new-home">Use custom emoji, stickers, soundboard effects and more to add
                            your personality to your voice, video, or text chat. Set your avatar and a custom status,
                            and write your own profile to show up in chat your way.</p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="section-1col bg-homepage">
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title">
                <h1>Sign up in minutes. Try AMBOSS risk-free.<br></h1>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-3col w-container">
            <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdbe-f07b2df5" class="w-layout-layout wf-layout-layout">
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdbf-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">1<a
                                href="https://www.amboss.com/us/account/login"><strong>‍</strong></a></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea32405f1cdcb6fab29_aj2ny5y5rn9flt4llhzg.svg"
                            loading="lazy" alt="mobile device icon">
                        <h5 class="weight-regular textalign-center color-dark02">Create an account</h5>
                    </div>
                </div>
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdce-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">2<strong>‍</strong></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea3cd958be8e0c0b82d_wpp8hk9wrkpmrfhthue9.svg"
                            loading="lazy" alt="mobile device icon 2">
                        <h5 class="weight-regular textalign-center color-dark02">Test for free for 5 days. No credit
                            card required.<br></h5>
                    </div>
                </div>
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdd7-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">3<strong>‍</strong></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea3643f23d5883d6e0d_kynacrrhlwchsejwva7u.svg"
                            loading="lazy" alt="mobile icon 3">
                        <h5 class="weight-regular textalign-center color-dark02">Pick your membership options. See more
                            about pricing.<br></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-footer"><a track-prop-value="none" track-evt="register_button_clicked"
                    href="https://www.amboss.com/us/account/register" class="btn-lg-white w-button">Sign Up with
                    email</a></div>
        </div>
    </section>

    <br><br><br><br><br><br>

    <br><br><br><br><br><br>
    <section class="section-5050 bg-brandlight03">
        <div class="w-layout-blockcontainer container-l w-container">
            <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dad-f07b2df5"
                class="w-layout-layout qstack-2 wf-layout-layout">
                <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dae-f07b2df5" class="w-layout-cell cell-5050">
                    <div class="container-title">
                        <h1 id="answers" class="weight-bold">All the answers,<br>right here.<br></h1>
                    </div>
                    <div class="container-content">
                        <h5 class="weight-regular color-grey">Make the right call in every clinical scenario. The AMBOSS
                            Knowledge and Qbank apps give you instant and on-the-go medical knowledge and guidance.<br>
                        </h5>
                    </div>
                    <h5>Download the apps for free.<br></h5>
                    <div class="container-footer footeroverride">
                        <div><a track-evt="external_link_clicked"
                                href="https://apps.apple.com/us/app/amboss-medical-knowledge/id1169487026?ls"
                                class="w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653a3afe3c3d9992e2f4883c_appstoreButton.svg"
                                    loading="lazy" alt="App Store Download Button" height="62"
                                    class="appstorebutton"></a>
                            <p class="xsmall btn-companion">4.9 ⭐️ |5.4K Ratings</p>
                        </div>
                        <div><a track-evt="external_link_clicked"
                                href="https://play.google.com/store/apps/details?id=com.amboss.medical.knowledge"
                                class="w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653a3b0765d89f1e35fd85b7_googleplayButton.svg"
                                    loading="lazy" alt="Google Play Download Button" height="62"
                                    class="googleplaybutton"></a>
                            <p class="xsmall btn-companion">4.7 ⭐️ |4.8K Ratings</p>
                        </div>
                    </div>
                </div>
                <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dcf-f07b2df5"
                    class="w-layout-cell cell-5050 align-center"><img id="mobiles"
                        src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox.png"
                        loading="lazy"
                        srcset="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox-p-500.png 500w, https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox.png 960w"
                        alt="Two smartphone with showing AMBOSS Qbank"></div>
            </div>
        </div>
    </section>

    <script>
        function redirect(url) {
            window.location.href = `/${url}`
        }
    </script>
</body>

</html>