<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        landing
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <div class="navbar">

        <div class="auth-buttons">
            <button id="signIn" onclick="redirect('pages/login')">
                Sign in
            </button>
            <button id="signUp" onclick="redirect('pages/register')">
                Sign up
            </button>
        </div>

        <div class="tabBar">
            <a href="#">Home</a>
            <a href="#">create paper</a>
            <a href="#">join paper</a>
            <a href="">
                Pricing
                <i id="pricing-toggle" class="fa-solid fa-chevron-up"></i>
            </a>
        </div>

        <img src="images/ictoob.png" alt="not found">

    </div>
    
    
    <section class="section-1col bg-imghomeint">
        <div class="banner" style="display: none;">
            <div class="containerbanner">
                <h5 class="weight-regular color-dark02 inline"><strong>NEJM Knowledge+ </strong>now on<strong> AMBOSS
                    </strong>for your board exam prep</h5><a track-prop-value="none" track-evt="register_button_clicked"
                    href="https://next.amboss.com/us/score-predictor" target="_blank"
                    class="btn-small-light align-center w-button">Find Out&nbsp;More</a><img
                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/65b7a2b4feccb929335dc0de_close.svg"
                    loading="lazy" height="" alt="X icon - close the banner"
                    data-w-id="8394e315-571e-124f-33c0-c4cea8e40de3" class="ic_close">
            </div>
        </div>
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title">
                <h2><strong><br>Start today and be part of a community of <br>specialists and scholars from various
                        fields and nationalities.</strong></h2>
            </div>
            <div class="container-content">
                <h5 class="weight-regular color-dark02">A secure and trusted community that exclusively attracts
                    scientists and researchers, to collaboration on scientific and literary projects</h5>
            </div>
            <div class="container-footer">
                <div><a track-prop-value="none" track-evt="register_button_clicked" class="btn-lg-brand w-button">Start
                        Free
                        Trial</a>
                    <p id="not-credit" class="xsmall btn-companion">(No credit card required)</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3col">
        <div class="w-layout-blockcontainer container-3col w-container">
            <div id="w-node-_96373deb-555d-421c-6287-eddd93098bfd-f07b2df5" class="w-layout-layout wf-layout-layout">
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098bfe-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/home.svg" loading="lazy" height="" alt="Icon computer with image and comment"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>Updated news and subscriptions</strong></h5>
                        <!-- <p>Dive into interlinked content in the library during Question Bank sessions.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/think.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong> crest from scratch your own project and be the leader</strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/group.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>join & collaborate by your skills!</strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>
                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/connect.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong>thousands of people same your carrier at one chat </strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->
                    </div>
                </div>

                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c0e-f07b2df5" class="w-layout-cell cell-3col"><img
                        src="/images/add-person.svg" loading="lazy" height="" alt="Icon desktop window with skull"
                        class="ic-3col">
                    <div class="txt-3col">
                        <h5><strong> make friends and chat </strong></h5>
                        <!-- <p>Practice making diagnoses with thousands of imaging examples.<br></p> -->

                    </div>
                </div>


                <div id="w-node-_96373deb-555d-421c-6287-eddd93098c06-f07b2df5" class="w-layout-cell cell-3col">
                    <img src="/images/settings.svg" loading="lazy" height="" alt="Icon Anki add-on" class="ic-3col">

                    <div class="txt-3col">
                        <h5><strong>special free and premium service for you</strong></h5>
                        <!-- <p>Hover over any term for a brief definition and click to read the full article.<br></p> -->
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="section-1col bg-homepage">
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title">
                <h1>Sign up in minutes. Try AMBOSS risk-free.<br></h1>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-3col w-container">
            <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdbe-f07b2df5" class="w-layout-layout wf-layout-layout">
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdbf-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">1<a
                                href="https://www.amboss.com/us/account/login"><strong>‍</strong></a></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea32405f1cdcb6fab29_aj2ny5y5rn9flt4llhzg.svg"
                            loading="lazy" alt="mobile device icon">
                        <h5 class="weight-regular textalign-center color-dark02">Create an account</h5>
                    </div>
                </div>
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdce-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">2<strong>‍</strong></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea3cd958be8e0c0b82d_wpp8hk9wrkpmrfhthue9.svg"
                            loading="lazy" alt="mobile device icon 2">
                        <h5 class="weight-regular textalign-center color-dark02">Test for free for 5 days. No credit
                            card required.<br></h5>
                    </div>
                </div>
                <div id="w-node-_745a8fea-f967-cc71-d769-f92365d6cdd7-f07b2df5"
                    class="w-layout-cell cell-3col cellredeemoverride">
                    <div class="card cardsignup">
                        <h4 class="weight-bold">3<strong>‍</strong></h4><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6582eea3643f23d5883d6e0d_kynacrrhlwchsejwva7u.svg"
                            loading="lazy" alt="mobile icon 3">
                        <h5 class="weight-regular textalign-center color-dark02">Pick your membership options. See more
                            about pricing.<br></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-footer"><a track-prop-value="none" track-evt="register_button_clicked"
                    href="https://www.amboss.com/us/account/register" class="btn-lg-white w-button">Sign Up with
                    email</a></div>
        </div>
    </section>
    <br><br><br><br><br><br>
    <!-- <section class="section-3col">
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title">
                <h4 class="weight-bold">Content and tools to get the most out of studying<br></h4>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-3col w-container">
            <div id="w-node-_477e944f-c45c-54d9-f203-dcadca5a366c-f07b2df5" class="w-layout-layout wf-layout-layout">
                <div id="w-node-_477e944f-c45c-54d9-f203-dcadca5a366d-f07b2df5" class="w-layout-cell cell-5051">
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/65241176e68d14ec9646e530_fo1pxf2wtjipt3rxhxlk.svg"
                            loading="lazy" height="" alt="Icon Quiz" class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>5400+ case-based questions</strong><br></p>
                            <p>Exam-style MCQs for all clinical and preclinical subjects<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6584738868a7655214ee8565_Icon-NoNeedforGoogle_Books3-128.svg"
                            loading="lazy" height="" alt="no google no books needed icon"
                            class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>1050+ clinical articles</strong><br></p>
                            <p>Extensive medical library covering all systems.<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653b98a585071d68a6d00296_dwy3dtgkfsakddcjdecs.svg"
                            loading="lazy" height="" alt="Icon with computer and smartphone"
                            class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>The AMBOSS app</strong><br></p>
                            <p>Move seamlessly between desktop and mobile.<br></p>
                        </div>
                    </div>
                </div>
                <div id="w-node-_477e944f-c45c-54d9-f203-dcadca5a3680-f07b2df5" class="w-layout-cell cell-5051">
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e81012a7391778c1083c7_ddxbtfim9bema0lbuntd.svg"
                            loading="lazy" height="" alt="Icon Anki add-on" class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>Anki Add-on</strong><br></p>
                            <p>Connects to the library for hover-over definitions<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/6527c8e7704247b2d2100fc8_ymfyg03gmuy8wmndbaot.svg"
                            loading="lazy" height="" alt="Icon Web Page" class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>High-yield mode</strong><br></p>
                            <p>Condenses articles down to the most high-yield info.<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/65290d53361caf2da14cedd6_kth4kqs4pt961oqauncz.svg"
                            loading="lazy" height="" alt="Icon generic page" class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>Highlight mode</strong><br></p>
                            <p>Highlights key info on all questions and articles.<br></p>
                        </div>
                    </div>
                </div>
                <div id="w-node-_477e944f-c45c-54d9-f203-dcadca5a3693-f07b2df5" class="w-layout-cell cell-5051">
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e80f4abee3e6c03c9b192_bbj37euv9f9f1wphl8mn.svg"
                            loading="lazy" height="" alt="Icon Study Plan" class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>Study plans</strong><br></p>
                            <p>Both personalized and exam-focused plans.<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653b97fa5c9e049e3208bec6_ice8tnzvb5lgcdmgmnd8.svg"
                            loading="lazy" height="" alt="Icon checklist " class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>Custom Qbank sessions</strong><br></p>
                            <p>Create sessions based on system, exam, and more.<br></p>
                        </div>
                    </div>
                    <div class="_3colhorizontalcontent"><img
                            src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652d5fe0f053f78bbf803c92_lgjzm5ghncluxmeq6nq1.svg"
                            loading="lazy" height="" alt="Computer with the Self Assessment welcome page"
                            class="ic-3col ic-resizehorizontal">
                        <div class="txt-3col align-left">
                            <p class="weight-bold"><strong>Performance analysis</strong><br></p>
                            <p>Get learning suggestions and peer group comparisons.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-centered w-container">
            <div class="container-title"><a track-prop-value="none" track-evt="register_button_clicked"
                    href="https://next.amboss.com/us/registration" class="btn-lg-brand w-button">Start Free Trial</a>
            </div>
        </div>
    </section> -->
    
    <br><br><br><br><br><br>
    <section class="section-5050 bg-brandlight03">
        <div class="w-layout-blockcontainer container-l w-container">
            <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dad-f07b2df5"
                class="w-layout-layout qstack-2 wf-layout-layout">
                <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dae-f07b2df5" class="w-layout-cell cell-5050">
                    <div class="container-title">
                        <h1 id="answers" class="weight-bold">All the answers,<br>right here.<br></h1>
                    </div>
                    <div class="container-content">
                        <h5 class="weight-regular color-grey">Make the right call in every clinical scenario. The AMBOSS
                            Knowledge and Qbank apps give you instant and on-the-go medical knowledge and guidance.<br>
                        </h5>
                    </div>
                    <h5>Download the apps for free.<br></h5>
                    <div class="container-footer footeroverride">
                        <div><a track-evt="external_link_clicked"
                                href="https://apps.apple.com/us/app/amboss-medical-knowledge/id1169487026?ls"
                                class="w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653a3afe3c3d9992e2f4883c_appstoreButton.svg"
                                    loading="lazy" alt="App Store Download Button" height="62"
                                    class="appstorebutton"></a>
                            <p class="xsmall btn-companion">4.9 ⭐️ |5.4K Ratings</p>
                        </div>
                        <div><a track-evt="external_link_clicked"
                                href="https://play.google.com/store/apps/details?id=com.amboss.medical.knowledge"
                                class="w-inline-block"><img
                                    src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/653a3b0765d89f1e35fd85b7_googleplayButton.svg"
                                    loading="lazy" alt="Google Play Download Button" height="62"
                                    class="googleplaybutton"></a>
                            <p class="xsmall btn-companion">4.7 ⭐️ |4.8K Ratings</p>
                        </div>
                    </div>
                </div>
                <div id="w-node-_6214a89b-3c08-5edb-05dd-b457051d4dcf-f07b2df5"
                    class="w-layout-cell cell-5050 align-center"><img
                        id="mobiles"
                        src="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox.png"
                        loading="lazy" 
                        srcset="https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox-p-500.png 500w, https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/652e96d016f63b469c3b3885_Amboss-Mobile-App-Qbank-Knowledge-2020-960x1084_qlujox.png 960w"
                        alt="Two smartphone with showing AMBOSS Qbank"></div>
            </div>
        </div>
    </section>
    <script>
        function redirect(url) {
            window.location.href = `/${url}`
        }
    </script>
</body>

</html>