<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <div id="hs-web-interactives-top-push-anchor" class="go3670563033"></div>
    <div id="auth-app">
        <div class="-dc0a1b4b9d53c-experimentalColumns css-1g7tp0f-Columns e1ostpc11" data-ds-id="Columns">
            <div class="-dc0a1b4b9d53c-experimentalFormColumn css-qxlca9-Column e1ostpc10" data-ds-id="Column"
                size="12">
                <div class="-dc0a1b4b9d53c-pageTemplate">
                    <div class="-dc0a1b4b9d53c-contentWrapper -dc0a1b4b9d53c-startContent">
                        <div data-ds-id="Box" class="css-15tvki3-StyledBox erlpbss0">
                            <a href="http://ictoob.com"
                                aria-label="Main" role="navigation" data-ds-id="Logo"
                                class="css-o5o0n7-StyledLogoElement e9etsuz0">
                                <img src="/images/ictoob.png" alt="not found">
                            </a></div>
                        <div data-ds-id="Stack" class="css-1ff2k4x-StackContainer eexjih90">
                            <div class="css-92xiq-StackItem eexjih91">
                                <div data-ds-id="Stack" class="css-1ff2k4x-StackContainer eexjih90">
                                    <div class="css-kwblxc-StackItem eexjih91">
                                        <style>
                                            @keyframes animatedBoxAnimation_1731764951542 {

                                                0% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0;

                                                }

                                                1% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.015707317311820675;

                                                }

                                                2% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.03141075907812829;

                                                }

                                                3% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.04710645070964266;

                                                }

                                                4% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.06279051952931337;

                                                }

                                                5% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.07845909572784494;

                                                }

                                                6% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.09410831331851431;

                                                }

                                                7% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.10973431109104528;

                                                }

                                                8% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.12533323356430426;

                                                }

                                                9% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.14090123193758267;

                                                }

                                                10% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.15643446504023087;

                                                }

                                                11% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.17192910027940952;

                                                }

                                                12% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.1873813145857246;

                                                }

                                                13% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.2027872953565125;

                                                }

                                                14% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.21814324139654256;

                                                }

                                                15% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.2334453638559054;

                                                }

                                                16% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.2486898871648548;

                                                }

                                                17% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.2638730499653729;

                                                }

                                                18% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.2789911060392293;

                                                }

                                                19% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.29404032523230395;

                                                }

                                                20% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.3090169943749474;

                                                }

                                                21% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.3239174181981494;

                                                }

                                                22% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.33873792024529137;

                                                }

                                                23% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.35347484377925714;

                                                }

                                                24% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.3681245526846779;

                                                }

                                                25% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.3826834323650898;

                                                }

                                                26% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.3971478906347806;

                                                }

                                                27% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4115143586051088;

                                                }

                                                28% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4257792915650727;

                                                }

                                                29% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4399391698559151;

                                                }

                                                30% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.45399049973954675;

                                                }

                                                31% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4679298142605734;

                                                }

                                                32% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4817536741017153;

                                                }

                                                33% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.4954586684324076;

                                                }

                                                34% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5090414157503713;

                                                }

                                                35% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5224985647159488;

                                                }

                                                36% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5358267949789967;

                                                }

                                                37% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5490228179981318;

                                                }

                                                38% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5620833778521306;

                                                }

                                                39% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5750052520432786;

                                                }

                                                40% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.5877852522924731;

                                                }

                                                41% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6004202253258839;

                                                }

                                                42% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6129070536529764;

                                                }

                                                43% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6252426563357051;

                                                }

                                                44% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6374239897486896;

                                                }

                                                45% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6494480483301837;

                                                }

                                                46% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6613118653236518;

                                                }

                                                47% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6730125135097733;

                                                }

                                                48% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6845471059286886;

                                                }

                                                49% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.6959127965923143;

                                                }

                                                50% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7071067811865475;

                                                }

                                                51% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7181262977631888;

                                                }

                                                52% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7289686274214116;

                                                }

                                                53% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7396310949786097;

                                                }

                                                54% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7501110696304596;

                                                }

                                                55% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.760405965600031;

                                                }

                                                56% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7705132427757893;

                                                }

                                                57% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7804304073383297;

                                                }

                                                58% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7901550123756903;

                                                }

                                                59% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.7996846584870905;

                                                }

                                                60% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8090169943749475;

                                                }

                                                61% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8181497174250234;

                                                }

                                                62% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8270805742745618;

                                                }

                                                63% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8358073613682702;

                                                }

                                                64% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8443279255020151;

                                                }

                                                65% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8526401643540922;

                                                }

                                                66% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8607420270039436;

                                                }

                                                67% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8686315144381912;

                                                }

                                                68% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8763066800438637;

                                                }

                                                69% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8837656300886934;

                                                }

                                                70% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8910065241883678;

                                                }

                                                71% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.8980275757606155;

                                                }

                                                72% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9048270524660196;

                                                }

                                                73% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9114032766354452;

                                                }

                                                74% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9177546256839811;

                                                }

                                                75% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9238795325112867;

                                                }

                                                76% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9297764858882513;

                                                }

                                                77% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9354440308298674;

                                                }

                                                78% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9408807689542255;

                                                }

                                                79% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9460853588275453;

                                                }

                                                80% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9510565162951535;

                                                }

                                                81% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9557930147983301;

                                                }

                                                82% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.960293685676943;

                                                }

                                                83% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9645574184577981;

                                                }

                                                84% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9685831611286311;

                                                }

                                                85% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9723699203976766;

                                                }

                                                86% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9759167619387473;

                                                }

                                                87% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9792228106217657;

                                                }

                                                88% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9822872507286886;

                                                }

                                                89% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.985109326154774;

                                                }

                                                90% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9876883405951378;

                                                }

                                                91% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9900236577165575;

                                                }

                                                92% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9921147013144779;

                                                }

                                                93% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9939609554551797;

                                                }

                                                94% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.99556196460308;

                                                }

                                                95% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.996917333733128;

                                                }

                                                96% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9980267284282716;

                                                }

                                                97% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.99888987496197;

                                                }

                                                98% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9995065603657316;

                                                }

                                                99% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 0.9998766324816606;

                                                }

                                                100% {
                                                    transform: translate(0px, 0px) scale(1, 1);
                                                    opacity: 1;

                                                }

                                            }


                                            @keyframes animatedBoxAnimation_1731764951542_inner {

                                                0% {
                                                    transform: scale(1, 1);
                                                }

                                                1% {
                                                    transform: scale(1, 1);
                                                }

                                                2% {
                                                    transform: scale(1, 1);
                                                }

                                                3% {
                                                    transform: scale(1, 1);
                                                }

                                                4% {
                                                    transform: scale(1, 1);
                                                }

                                                5% {
                                                    transform: scale(1, 1);
                                                }

                                                6% {
                                                    transform: scale(1, 1);
                                                }

                                                7% {
                                                    transform: scale(1, 1);
                                                }

                                                8% {
                                                    transform: scale(1, 1);
                                                }

                                                9% {
                                                    transform: scale(1, 1);
                                                }

                                                10% {
                                                    transform: scale(1, 1);
                                                }

                                                11% {
                                                    transform: scale(1, 1);
                                                }

                                                12% {
                                                    transform: scale(1, 1);
                                                }

                                                13% {
                                                    transform: scale(1, 1);
                                                }

                                                14% {
                                                    transform: scale(1, 1);
                                                }

                                                15% {
                                                    transform: scale(1, 1);
                                                }

                                                16% {
                                                    transform: scale(1, 1);
                                                }

                                                17% {
                                                    transform: scale(1, 1);
                                                }

                                                18% {
                                                    transform: scale(1, 1);
                                                }

                                                19% {
                                                    transform: scale(1, 1);
                                                }

                                                20% {
                                                    transform: scale(1, 1);
                                                }

                                                21% {
                                                    transform: scale(1, 1);
                                                }

                                                22% {
                                                    transform: scale(1, 1);
                                                }

                                                23% {
                                                    transform: scale(1, 1);
                                                }

                                                24% {
                                                    transform: scale(1, 1);
                                                }

                                                25% {
                                                    transform: scale(1, 1);
                                                }

                                                26% {
                                                    transform: scale(1, 1);
                                                }

                                                27% {
                                                    transform: scale(1, 1);
                                                }

                                                28% {
                                                    transform: scale(1, 1);
                                                }

                                                29% {
                                                    transform: scale(1, 1);
                                                }

                                                30% {
                                                    transform: scale(1, 1);
                                                }

                                                31% {
                                                    transform: scale(1, 1);
                                                }

                                                32% {
                                                    transform: scale(1, 1);
                                                }

                                                33% {
                                                    transform: scale(1, 1);
                                                }

                                                34% {
                                                    transform: scale(1, 1);
                                                }

                                                35% {
                                                    transform: scale(1, 1);
                                                }

                                                36% {
                                                    transform: scale(1, 1);
                                                }

                                                37% {
                                                    transform: scale(1, 1);
                                                }

                                                38% {
                                                    transform: scale(1, 1);
                                                }

                                                39% {
                                                    transform: scale(1, 1);
                                                }

                                                40% {
                                                    transform: scale(1, 1);
                                                }

                                                41% {
                                                    transform: scale(1, 1);
                                                }

                                                42% {
                                                    transform: scale(1, 1);
                                                }

                                                43% {
                                                    transform: scale(1, 1);
                                                }

                                                44% {
                                                    transform: scale(1, 1);
                                                }

                                                45% {
                                                    transform: scale(1, 1);
                                                }

                                                46% {
                                                    transform: scale(1, 1);
                                                }

                                                47% {
                                                    transform: scale(1, 1);
                                                }

                                                48% {
                                                    transform: scale(1, 1);
                                                }

                                                49% {
                                                    transform: scale(1, 1);
                                                }

                                                50% {
                                                    transform: scale(1, 1);
                                                }

                                                51% {
                                                    transform: scale(1, 1);
                                                }

                                                52% {
                                                    transform: scale(1, 1);
                                                }

                                                53% {
                                                    transform: scale(1, 1);
                                                }

                                                54% {
                                                    transform: scale(1, 1);
                                                }

                                                55% {
                                                    transform: scale(1, 1);
                                                }

                                                56% {
                                                    transform: scale(1, 1);
                                                }

                                                57% {
                                                    transform: scale(1, 1);
                                                }

                                                58% {
                                                    transform: scale(1, 1);
                                                }

                                                59% {
                                                    transform: scale(1, 1);
                                                }

                                                60% {
                                                    transform: scale(1, 1);
                                                }

                                                61% {
                                                    transform: scale(1, 1);
                                                }

                                                62% {
                                                    transform: scale(1, 1);
                                                }

                                                63% {
                                                    transform: scale(1, 1);
                                                }

                                                64% {
                                                    transform: scale(1, 1);
                                                }

                                                65% {
                                                    transform: scale(1, 1);
                                                }

                                                66% {
                                                    transform: scale(1, 1);
                                                }

                                                67% {
                                                    transform: scale(1, 1);
                                                }

                                                68% {
                                                    transform: scale(1, 1);
                                                }

                                                69% {
                                                    transform: scale(1, 1);
                                                }

                                                70% {
                                                    transform: scale(1, 1);
                                                }

                                                71% {
                                                    transform: scale(1, 1);
                                                }

                                                72% {
                                                    transform: scale(1, 1);
                                                }

                                                73% {
                                                    transform: scale(1, 1);
                                                }

                                                74% {
                                                    transform: scale(1, 1);
                                                }

                                                75% {
                                                    transform: scale(1, 1);
                                                }

                                                76% {
                                                    transform: scale(1, 1);
                                                }

                                                77% {
                                                    transform: scale(1, 1);
                                                }

                                                78% {
                                                    transform: scale(1, 1);
                                                }

                                                79% {
                                                    transform: scale(1, 1);
                                                }

                                                80% {
                                                    transform: scale(1, 1);
                                                }

                                                81% {
                                                    transform: scale(1, 1);
                                                }

                                                82% {
                                                    transform: scale(1, 1);
                                                }

                                                83% {
                                                    transform: scale(1, 1);
                                                }

                                                84% {
                                                    transform: scale(1, 1);
                                                }

                                                85% {
                                                    transform: scale(1, 1);
                                                }

                                                86% {
                                                    transform: scale(1, 1);
                                                }

                                                87% {
                                                    transform: scale(1, 1);
                                                }

                                                88% {
                                                    transform: scale(1, 1);
                                                }

                                                89% {
                                                    transform: scale(1, 1);
                                                }

                                                90% {
                                                    transform: scale(1, 1);
                                                }

                                                91% {
                                                    transform: scale(1, 1);
                                                }

                                                92% {
                                                    transform: scale(1, 1);
                                                }

                                                93% {
                                                    transform: scale(1, 1);
                                                }

                                                94% {
                                                    transform: scale(1, 1);
                                                }

                                                95% {
                                                    transform: scale(1, 1);
                                                }

                                                96% {
                                                    transform: scale(1, 1);
                                                }

                                                97% {
                                                    transform: scale(1, 1);
                                                }

                                                98% {
                                                    transform: scale(1, 1);
                                                }

                                                99% {
                                                    transform: scale(1, 1);
                                                }

                                                100% {
                                                    transform: scale(1, 1);
                                                }

                                            }
                                        </style>
                                        <div
                                            style="transform-origin: left top; transform: translateZ(0px) scale(1, 1); animation: 0.4s linear 0s 1 normal none running animatedBoxAnimation_1731764951542;">
                                            <div
                                                style="transform-origin: left top; transform: translateZ(0px) scale(1, 1); animation: 0.4s linear 0s 1 normal none running animatedBoxAnimation_1731764951542_inner;">
                                                <div data-animated-box-content="true"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css-kwblxc-StackItem eexjih91">
                                        <style></style>
                                        <div
                                            style="transform-origin: left top; transform: translateZ(0px) scale(1, 1); animation: 0.4s linear 0s 1 normal none running animatedBoxAnimation_1731764955176;">
                                            <div
                                                style="transform-origin: left top; transform: translateZ(0px) scale(1, 1); animation: 0.4s linear 0s 1 normal none running animatedBoxAnimation_1731764955176_inner;">
                                                <div data-animated-box-content="true">
                                                    <div data-ds-id="Container" elevation="1"
                                                        class="css-1trjn7t-StyledContainer e1evskne0">
                                                        <div class="css-1m1fu2w-StyledDiv e1evskne1">
                                                            <div data-ds-id="Box" class="css-c92sg8-StyledBox erlpbss0">
                                                                <div data-ds-id="Stack"
                                                                    class="css-1ff2k4x-StackContainer eexjih90">
                                                                    <div class="css-1pg9ptm-StackItem eexjih91">
                                                                        <div data-ds-id="Stack"
                                                                            class="css-1ff2k4x-StackContainer eexjih90">
                                                                            <div class="css-kwblxc-StackItem eexjih91">
                                                                                <h2 data-ds-id="H2"
                                                                                    class="css-1ozvgu-H2 emoqs3o1">
                                                                                    Welcome back</h2>
                                                                            </div>
                                                                            <div class="css-kwblxc-StackItem eexjih91">
                                                                                <div>
                                                                                    <p color="tertiary"
                                                                                        data-ds-id="Text"
                                                                                        class="css-hto57-StyledText e1im9r3t0">
                                                                                        Log in with your ICTOOB account
                                                                                    </p>
                                                                                    <p color="tertiary"
                                                                                        data-ds-id="Text"
                                                                                        class="css-14p1ltg-StyledText e1im9r3t0">
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="css-1pg9ptm-StackItem eexjih91">
                                                                        <div data-ds-id="Stack"
                                                                            class="css-1ff2k4x-StackContainer eexjih90">
                                                                            <div class="css-kwblxc-StackItem eexjih91">
                                                                                <div data-ds-id="FormFieldGroup"
                                                                                    class="css-qzl379-StyledDiv e1b8mhr30">
                                                                                    <div data-ds-id="Stack"
                                                                                        class="css-1ff2k4x-StackContainer eexjih90">
                                                                                        <div
                                                                                            class="css-tn47vl-StackItem eexjih91">
                                                                                            <div data-ds-id="Input"
                                                                                                class="css-iadjan-StyledFormField etbad390">
                                                                                                <div data-ds-id="Stack"
                                                                                                    class="css-1ff2k4x-StackContainer eexjih90">
                                                                                                    <div
                                                                                                        class="css-1c20xzu-StackItem eexjih91">
                                                                                                        <label>
                                                                                                            <div data-ds-id="Stack"
                                                                                                                class="css-1ff2k4x-StackContainer eexjih90">
                                                                                                                <div
                                                                                                                    class="css-tn47vl-StackItem eexjih91">
                                                                                                                    <div data-ds-id="FormLabelText"
                                                                                                                        class="css-15cms52-InlineContainer e1hzytjg0">
                                                                                                                        <div>
                                                                                                                            <h6 data-ds-id="H6"
                                                                                                                                class="css-bfvjxm-H6 emoqs3o5">
                                                                                                                                Email
                                                                                                                                address
                                                                                                                            </h6>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="css-tn47vl-StackItem eexjih91">
                                                                                                                    <div
                                                                                                                        class="css-1axba1z-StyledContainer e1k6y6ej0">
                                                                                                                        <input
                                                                                                                            type="text"
                                                                                                                            placeholder="email@address.com"
                                                                                                                            name="email"
                                                                                                                            aria-label="Email address"
                                                                                                                            autocomplete="on"
                                                                                                                            class="css-58i4y6-StyledInput e1k6y6ej2"
                                                                                                                            value="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </label></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div
                                                                                            class="css-tn47vl-StackItem eexjih91">
                                                                                            <div data-ds-id="PasswordInput"
                                                                                                class="css-iadjan-StyledFormField etbad390">
                                                                                                <div data-ds-id="Stack"
                                                                                                    class="css-1ff2k4x-StackContainer eexjih90">
                                                                                                    <div
                                                                                                        class="css-1c20xzu-StackItem eexjih91">
                                                                                                        <label>
                                                                                                            <div data-ds-id="Stack"
                                                                                                                class="css-1ff2k4x-StackContainer eexjih90">
                                                                                                                <div
                                                                                                                    class="css-tn47vl-StackItem eexjih91">
                                                                                                                    <div data-ds-id="FormLabelText"
                                                                                                                        class="css-15cms52-InlineContainer e1hzytjg0">
                                                                                                                        <div>
                                                                                                                            <h6 data-ds-id="H6"
                                                                                                                                class="css-bfvjxm-H6 emoqs3o5">
                                                                                                                                Password
                                                                                                                            </h6>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="css-tn47vl-StackItem eexjih91">
                                                                                                                    <div
                                                                                                                        class="css-1eo534h-StyledContainer ecgpf3y0">
                                                                                                                        <input
                                                                                                                            type="password"
                                                                                                                            placeholder="Enter your password"
                                                                                                                            name="password"
                                                                                                                            id="password"
                                                                                                                            aria-label="Password"
                                                                                                                            autocomplete="on"
                                                                                                                            class="css-13h4v91-StyledPasswordInput ecgpf3y2"
                                                                                                                            ><button
                                                                                                                            aria-label="password visibility icon"
                                                                                                                            type="button"
                                                                                                                            id="passowrd-Toggle"
                                                                                                                            class="css-fw9vqi-StyledIconBtn ecgpf3y1">
                                                                                                                            <div data-ds-id="Icon"
                                                                                                                                data-variant="tertiary"
                                                                                                                                color="tertiary"
                                                                                                                                class="css-1g6lhus-StyledIcon esvztbe0">
                                                                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                                    width="16"
                                                                                                                                    height="16"
                                                                                                                                    fill="none"
                                                                                                                                    viewBox="0 0 16 16">
                                                                                                                                    <path
                                                                                                                                        fill="currentColor"
                                                                                                                                        fill-rule="evenodd"
                                                                                                                                        d="M12.3 12.57l2.286 2.344L16 13.5 2.914.086 1.5 1.5l2.013 2.063c-.537.396-1.007.827-1.407 1.246a13.327 13.327 0 00-1.65 2.135 2 2 0 000 2.112c.053.084.111.176.176.275.332.505.826 1.18 1.474 1.86C3.387 12.531 5.381 14 8 14c1.707 0 3.148-.623 4.3-1.43zm-1.42-1.455l-.868-.89a3 3 0 01-4.187-4.292l-.899-.92c-.509.345-.968.753-1.373 1.177A11.328 11.328 0 002.155 8c.044.07.093.148.148.232.284.432.705 1.007 1.25 1.577C4.66 10.97 6.165 12 8 12c1.078 0 2.043-.355 2.88-.884zM7.225 7.368A1 1 0 008.613 8.79zm-.016-5.323l2.146 2.146c1.231.35 2.271 1.14 3.092 2A11.335 11.335 0 0113.845 8a10.71 10.71 0 01-.269.412l1.435 1.435a13.598 13.598 0 00.533-.791 2 2 0 000-2.112 13.314 13.314 0 00-1.65-2.135C12.613 3.467 10.619 2 8 2c-.27 0-.534.017-.79.046z"
                                                                                                                                        clip-rule="evenodd">
                                                                                                                                    </path>
                                                                                                                                </svg>
                                                                                                                            </div>
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </label></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="css-kwblxc-StackItem eexjih91">
                                                                                <p color="primary" data-ds-id="Text"
                                                                                    class="css-ue22vo-StyledText e1im9r3t0">
                                                                                    <a data-ds-id="Link" color="accent"
                                                                                        weight="bold"
                                                                                        class="css-cardb5-StyledLink ewxmrja0"
                                                                                        href="/pages/reset-password">
                                                                                        Forgot your password?</a></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="css-1pg9ptm-StackItem eexjih91"><button 
                                                                        id="login-button"
                                                                            data-ds-id="Button" type="button"
                                                                            class="css-w2u6g0-StyledButton e7wzybw0">
                                                                            <div
                                                                                class="css-19pexw4-StyledInner e7wzybw1">
                                                                                <div data-ds-id="Inline"
                                                                                    class="css-alg3yb-InlineContainer e1hzytjg0">
                                                                                    <div>Log in</div>
                                                                                </div>
                                                                            </div>
                                                                        </button></div>
                                                                    <p id="error" class="error"></p>
                                                                    <div class="css-1pg9ptm-StackItem eexjih91"></div>
                                                                    <div class="css-1pg9ptm-StackItem eexjih91">
                                                                        <div data-ds-id="Stack"
                                                                            class="css-1ff2k4x-StackContainer eexjih90">
                                                                            <div class="css-kwblxc-StackItem eexjih91">
                                                                                <div data-ds-id="Columns"
                                                                                    class="css-dnxz5w-Columns e1ostpc11">
                                                                                    <div data-ds-id="Column"
                                                                                        class="css-xl953a-Column e1ostpc10">
                                                                                        <a data-ds-id="Button"
                                                                                            href="/auth/facebook/"
                                                                                            target="_self"
                                                                                            class=" css-73tk2c-StyledButton e7wzybw0">
                                                                                            <div
                                                                                                class="css-19pexw4-StyledInner e7wzybw1">
                                                                                                <div data-ds-id="Inline"
                                                                                                    class="css-alg3yb-InlineContainer e1hzytjg0">
                                                                                                    <div>
                                                                                                        <div data-e2e-test-id="facebook"
                                                                                                            data-testid="facebook"
                                                                                                            data-ds-id="Icon"
                                                                                                            data-variant="inherit"
                                                                                                            color="inherit"
                                                                                                            class="css-7tpa0d-StyledIcon esvztbe0">
                                                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                width="16"
                                                                                                                height="16"
                                                                                                                fill="none"
                                                                                                                viewBox="0 0 16 16">
                                                                                                                <path
                                                                                                                    fill="#1877f2"
                                                                                                                    d="M16 8a8 8 0 10-9.25 7.903v-5.59H4.719V8H6.75V6.238c0-2.006 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156V5.25h-1.008c-.994 0-1.304.617-1.304 1.25V8h2.219l-.355 2.313H9.25v5.59A8.002 8.002 0 0016 8z">
                                                                                                                </path>
                                                                                                                <path
                                                                                                                    fill="#fff"
                                                                                                                    d="M11.114 10.313L11.47 8H9.25V6.5c0-.633.31-1.25 1.304-1.25h1.009V3.281s-.916-.156-1.791-.156c-1.828 0-3.022 1.107-3.022 3.112V8H4.719v2.313H6.75v5.59c.828.13 1.672.13 2.5 0v-5.59z">
                                                                                                                </path>
                                                                                                            </svg></div>
                                                                                                    </div>
                                                                                                    <div>Facebook</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a></div>
                                                                                    <div data-ds-id="Column"
                                                                                        class="css-xl953a-Column e1ostpc10">
                                                                                        <a data-ds-id="Button"
                                                                                            class=" css-73tk2c-StyledButton e7wzybw0"
                                                                                            href="/auth/google/"
                                                                                            target="_self">
                                                                                            <div
                                                                                                class="css-19pexw4-StyledInner e7wzybw1">
                                                                                                <div data-ds-id="Inline"
                                                                                                    class="css-alg3yb-InlineContainer e1hzytjg0">
                                                                                                    <div>
                                                                                                        <div data-e2e-test-id="google"
                                                                                                            data-testid="google"
                                                                                                            data-ds-id="Icon"
                                                                                                            data-variant="inherit"
                                                                                                            color="inherit"
                                                                                                            class="css-7tpa0d-StyledIcon esvztbe0">
                                                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                width="16"
                                                                                                                height="16"
                                                                                                                fill="none"
                                                                                                                viewBox="0 0 16 16">
                                                                                                                <path
                                                                                                                    fill="#ea4335"
                                                                                                                    d="M8 3.093c1.502 0 2.516.65 3.093 1.191l2.258-2.204C11.964.791 10.161 0 8.001 0A7.994 7.994 0 00.852 4.409L3.44 6.418C4.09 4.488 5.885 3.093 8 3.093z">
                                                                                                                </path>
                                                                                                                <path
                                                                                                                    fill="#4285f4"
                                                                                                                    d="M15.68 8.178c0-.658-.053-1.138-.169-1.636H8v2.97h4.409c-.089.737-.569 1.848-1.636 2.595l2.525 1.955c1.51-1.395 2.382-3.449 2.382-5.884z">
                                                                                                                </path>
                                                                                                                <path
                                                                                                                    fill="#fbbc05"
                                                                                                                    d="M3.449 9.582A4.925 4.925 0 013.182 8c0-.551.098-1.084.258-1.582L.853 4.408C.311 5.494 0 6.712 0 8s.311 2.507.853 3.591z">
                                                                                                                </path>
                                                                                                                <path
                                                                                                                    fill="#34a853"
                                                                                                                    d="M8 16c2.16 0 3.973-.711 5.298-1.938l-2.525-1.955c-.675.47-1.582.8-2.773.8-2.116 0-3.911-1.396-4.551-3.325l-2.587 2.01C2.178 14.204 4.872 16 8 16z">
                                                                                                                </path>
                                                                                                            </svg></div>
                                                                                                    </div>
                                                                                                    <div>Google</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a></div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-ds-id="Box" class="css-1p0ph22-StyledBox erlpbss0">
                                                        <p color="tertiary" data-ds-id="Text"
                                                            class="css-cy4sjh-StyledText e1im9r3t0">New to ICTOOB? <a
                                                                data-e2e-test-id="register-link" data-ds-id="Link"
                                                                color="accent" weight="bold"
                                                                class="css-cardb5-StyledLink ewxmrja0"
                                                                href="/pages/register">Create an account </a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-dc0a1b4b9d53c-footer">
                        <div data-ds-id="Box" class="css-k36ksl-StyledBox erlpbss0">
                            <div data-ds-id="Box" class="css-k36ksl-StyledBox erlpbss0">
                                <div data-ds-id="Divider" class="css-1fcsbsk-StyledDivider e1xue2o81"></div>
                            </div>
                            <div data-ds-id="Inline" class="css-osqs1k-InlineContainer e1hzytjg0">
                                <div><a data-ds-id="Link" color="tertiary" target="_blank" rel="noopener noreferrer"
                                        href="/pages/privacy-policy"
                                        class="css-ecqu1n-StyledLink ewxmrja0">Help Center</a></div>
                                <div><a data-ds-id="Link" color="tertiary"
                                        class="css-ecqu1n-StyledLink ewxmrja0">Privacy Settings</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>window.__AMBOSS_CONFIG__ = { "STATSIG_DNS_PROXY_URL": "https://amboss.amboss.workers.dev/v1", "REBRANDLY_API_KEY": "011b521532d643bda0045d5d5307e90b", "GRAPHQL_API_INTERNAL_URL": "http://graphql-gateway.web-services-production.svc.cluster.local./graphql", "URL_LOCALE_PREFIX": "us", "LEGAL_PAGE_DISCLAIMER_URL": "https://www.amboss.com/us/disclaimer", "GRAPHQL_API_HOST": "nextapius.amboss.com", "ASSETS_PATH": "https://next.amboss.com/us/static/assets/", "SENTRY_ENVIRONMENT": "production", "SEGMENT_ANALYTICS_WRITE_KEY_AUTH": "L5ohl3S9d7OPt1YHmKW22ImAIGH3SGaV", "OAUTH_FACEBOOK_URL_US": "https://www.amboss.com/us/auth-sso/oauth/facebook", "SEGMENT_ANALYTICS_WRITE_KEY": "Blw9JtSqDecdRHdx2TBvnNPVIMKSnJC6", "SMOUGH_API_URL": "https://smough.de.production.amboss.com", "LEGAL_PAGE_NOTICE_URL": "https://www.amboss.com/us/legal/imprint", "SENTRY_CLIENT_DSN": "https://3f2433232d3847b5b617b01f2beb08f2@sentry.io/1795653", "ZENDESK_WEB_PHARMA_TICKET_FORM_ID": "360000665972", "PORT": "3003", "GRAPHQL_API_URL_GATEWAY": "https://www.amboss.com/us/api/graphql", "NODE_ENV": "production", "AUTH_COOKIE_NAME": "next_auth_amboss_us", "ZENDESK_ENDPOINT": "https://amboss.zendesk.com/api/v2/requests.json", "OAUTH_GOOGLE_URL_US": "https://www.amboss.com/us/auth-sso/oauth/google", "COMPRESS": "true", "STATSIG_DNS_PROXY_HOST": "https://amboss.amboss.workers.dev", "SUPPORT_IOS_SUBSCRIPTION_URL_US": "https://support.amboss.com/hc/en-us/articles/360037508011-Canceling-iOS-Subscription", "CHARGEBEE_SITE": "medicuja", "LEGAL_PAGE_PRIVACY_URL": "https://www.amboss.com/us/privacy", "CHARGEBEE_PUBLIC_KEY": "live_95A4Bhcubv0A1HfHdvdTjNAJ9k7yjF15X", "ALTERNATIVE_SUPPORT_URI": "https://support.amboss.com/hc/us", "ZENDESK_PHARMA_CARD_FIELD_ID": "360027329431", "AMBOSS_WEBSITE_URL": "https://www.amboss.com/us", "ADYEN_CLIENT_ENV": "live", "SQUARESPACE_URL": "https://www.amboss.com/us/store", "GROWTHBOOK_CLIENT_KEY": "sdk-g3Faro0kxxQfdcPN", "MEDICOACH_API_URL": "https://medicoach-api.us.production.amboss.com", "FROALA_KEY": "wFE7nG5D4F4E3A9D9eMRPYf1h1REb1BGQOQIc2CDBREJImA11C8D6B5B1G4D3F2H3A10==", "SUPPORT_URI": "https://support.amboss.com/hc/us", "SENTRY_SERVER_DSN": "https://8aa6b7733c344c5aae0e917eb0b0adf3@sentry.io/1795649", "ZENDESK_EN_GROUP_ID": "360004610331", "LEGACY_URL": "https://www.amboss.com/us/", "GOOGLE_API_KEY": "AIzaSyDr0gD_kN52wpc9nE79e-nBzZJgt8sFcXw", "HTTPS_ONLY": "true", "ENABLE_FEATURE_FLAGS": "true", "LEGAL_PAGE_TERMS_URL": "https://www.amboss.com/us/terms", "MAINTENANCE_DOWNTIME_ACTIVE": "false", "GROWTHBOOK_PROXY_URL": "https://www.amboss.com/us/gb/", "STATSIG_CLIENT_SDK_KEY": "client-2mcaHELKvBcxa3BAfvMz3RDhZAhLHkQjEhYZrgDbo7p", "GRAPHQL_API_URL": "https://nextapius.amboss.com/", "SELF_ASSESSMENT_S3_BUCKET": "sa-results.amboss.com", "RELEASE": "ui-amboss@5e6e0d8a6d42bb8993dc3cff1c7db691dc6fd91c", "ENVIRONMENT_TIER": "production", "ADYEN_CLIENT_KEY": "live_ZZ73DOYIVNBJVJ62I3DFYRGUUEYZRQTO", "ZENDESK_LOCALE_FIELD_ID": "360027060391", "GRAPHQL_API_HOST_GATEWAY": "www.amboss.com" }</script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~05a0f434.42ea6a22c26bbd2d.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/runtime~auth.f74ced2a0b5ce740.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~0.8bf2cc7f4c298a42.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~ddeeb9cf.a00e2c3a7c0e4b59.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~2.16b81a8ca91b4379.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~3.b746c9fec6f05e50.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~4.fc34cdfd6ede4c39.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~5.f4dfac891797e227.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~6.1df939e68d08c322.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~7.a86c267bc25cf387.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~8.077502dc1daddba5.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~9.dbb279004f206948.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~7df5fecf.f2d576e11ddfc715.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~11.a867cad6075e8361.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~12.7dcf03f19efba9c5.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~13.c2392368b9d44638.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~14.518a35f396850b00.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~15.0502e0ba2118ad83.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~16.e61582a6379e3275.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~17.3e75841da62a1d8c.js"></script>
    <script type="text/javascript" async="" charset="utf-8"
        src="https://next.amboss.com/us/static/assets/auth~11048b4b.371fa12f09124059.js"></script> -->
    <script src="/js/apis.js"></script>
    <!-- <iframe allow="join-ad-interest-group" data-tagging-id="AW-874051731" data-load-time="1731764948265" height="0"
        width="0"
        src="https://td.doubleclick.net/td/rul/874051731?random=1731764948246&amp;cv=11&amp;fst=1731764948246&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be4be0h2v888568306za200&amp;gcd=13l3l3l3l1l1&amp;dma=0&amp;tag_exp=101925629~102067554~102067808~102077855&amp;u_w=1366&amp;u_h=768&amp;url=https%3A%2F%2Fnext.amboss.com%2Fus%2Fregistration&amp;hn=www.googleadservices.com&amp;frm=0&amp;npa=0&amp;pscdl=noapi&amp;auid=18488702.1731764948&amp;fledge=1&amp;data=event%3Dgtag.config"
        style="display: none; visibility: hidden;"></iframe><iframe height="0" width="0"
        style="display: none; visibility: hidden;"></iframe><iframe id="_hjSafeContext_89118579" title="_hjSafeContext"
        tabindex="-1" aria-hidden="true" src="about:blank"
        style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe> -->
    <!-- <div class="go2933276541 go2369186930" id="hs-web-interactives-top-anchor">
        <div id="hs-interactives-modal-overlay" class="go1632949049"></div>
    </div> -->
    <!-- <div class="go2933276541 go1348078617" id="hs-web-interactives-bottom-anchor"></div> -->
    <!-- <div id="hs-web-interactives-floating-container">
        <div id="hs-web-interactives-floating-top-left-anchor" class="go2417249464 go613305155">
        </div>
        <div id="hs-web-interactives-floating-top-right-anchor" class="go2417249464 go471583506">
        </div>
        <div id="hs-web-interactives-floating-bottom-left-anchor" class="go2417249464 go3921366393">
        </div>
        <div id="hs-web-interactives-floating-bottom-right-anchor" class="go2417249464 go3967842156">
        </div>
    </div> -->
    <!-- <div id="batBeacon327407507522" style="width: 0px; height: 0px; display: none; visibility: hidden;"><img
            id="batBeacon871332608013" width="0" height="0" alt=""
            src="https://bat.bing.com/action/0?ti=355019500&amp;Ver=2&amp;mid=27babe31-35a7-495a-b6e1-a229a9189624&amp;bo=1&amp;sid=c7a66d409d4811ef8223237bc468787a&amp;vid=ad952d105a1411ef9a2801f5ed86dcac&amp;vids=0&amp;msclkid=N&amp;uach=pv%3D10.0.0&amp;pi=918639831&amp;lg=en-GB&amp;sw=1366&amp;sh=768&amp;sc=24&amp;p=https%3A%2F%2Fnext.amboss.com%2Fus%2Fregistration&amp;r=&amp;lt=3663&amp;evt=pageLoad&amp;sv=1&amp;cdb=ARoR&amp;rn=844568"
            style="width: 0px; height: 0px; display: none; visibility: hidden;"><img id="batBeacon839917691739"
            width="0" height="0" alt=""
            src="https://bat.bing.com/action/0?ti=355019500&amp;Ver=2&amp;mid=27babe31-35a7-495a-b6e1-a229a9189624&amp;bo=2&amp;sid=c7a66d409d4811ef8223237bc468787a&amp;vid=ad952d105a1411ef9a2801f5ed86dcac&amp;vids=0&amp;msclkid=N&amp;ea=track&amp;el=register_email_field_focused&amp;p=https%3A%2F%2Fnext.amboss.com%2Fus%2Fregistration&amp;sw=1366&amp;sh=768&amp;sc=24&amp;evt=custom&amp;cdb=ARoR&amp;rn=627997"
            style="width: 0px; height: 0px; display: none; visibility: hidden;"><img id="batBeacon572703275675"
            width="0" height="0" alt=""
            src="https://bat.bing.com/action/0?ti=355019500&amp;Ver=2&amp;mid=27babe31-35a7-495a-b6e1-a229a9189624&amp;bo=3&amp;sid=c7a66d409d4811ef8223237bc468787a&amp;vid=ad952d105a1411ef9a2801f5ed86dcac&amp;vids=0&amp;msclkid=N&amp;ea=track&amp;el=login_email_field_focused&amp;p=https%3A%2F%2Fnext.amboss.com%2Fus%2Flogin&amp;sw=1366&amp;sh=768&amp;sc=24&amp;evt=custom&amp;cdb=ARoR&amp;rn=668240"
            style="width: 0px; height: 0px; display: none; visibility: hidden;"></div><img
        src="https://t.co/i/adsct?bci=3&amp;dv=Asia%2FBaghdad%26en-GB%2Cen-US%2Cen%2Car%26Google%20Inc.%26Win32%26255%261366%26768%268%2624%261366%26728%260%26na&amp;eci=2&amp;event_id=33744a59-7881-4e3e-9b9d-ed1d39f4a42b&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=68298a33-c2ff-49e2-bcde-5cd314729859&amp;tw_document_href=https%3A%2F%2Fnext.amboss.com%2Fus%2Fregistration&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o6en3&amp;type=javascript&amp;version=2.3.31"
        height="1" width="1" style="display: none;"><iframe allow="join-ad-interest-group"
        data-tagging-id="G-RWNVWJ6HNH" data-load-time="1731764951799" height="0" width="0"
        src="https://td.doubleclick.net/td/ga/rul?tid=G-RWNVWJ6HNH&amp;gacid=1216522456.1731764952&amp;gtm=45je4bc0v873384087z8895337434za200zb895337434&amp;dma=0&amp;gcs=G111&amp;gcd=13t3t3t3t5l1&amp;npa=0&amp;pscdl=noapi&amp;aip=1&amp;fledge=1&amp;frm=0&amp;tag_exp=101925629~102067555~102067808~102077855&amp;z=515377376"
        style="display: none; visibility: hidden;"></iframe><img
        src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=Asia%2FBaghdad%26en-GB%2Cen-US%2Cen%2Car%26Google%20Inc.%26Win32%26255%261366%26768%268%2624%261366%26728%260%26na&amp;eci=2&amp;event_id=33744a59-7881-4e3e-9b9d-ed1d39f4a42b&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=68298a33-c2ff-49e2-bcde-5cd314729859&amp;tw_document_href=https%3A%2F%2Fnext.amboss.com%2Fus%2Fregistration&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o6en3&amp;type=javascript&amp;version=2.3.31"
        height="1" width="1" style="display: none;"><img
        src="https://t.co/i/adsct?bci=3&amp;dv=Asia%2FBaghdad%26en-GB%2Cen-US%2Cen%2Car%26Google%20Inc.%26Win32%26255%261366%26768%268%2624%261366%26728%260%26na&amp;eci=2&amp;event_id=d84b2d3e-2481-4884-88e9-429c93d6f56b&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=68298a33-c2ff-49e2-bcde-5cd314729859&amp;tw_document_href=https%3A%2F%2Fnext.amboss.com%2Fus%2Flogin&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o6en3&amp;type=javascript&amp;version=2.3.31"
        height="1" width="1" style="display: none;"><img
        src="https://analytics.twitter.com/i/adsct?bci=3&amp;dv=Asia%2FBaghdad%26en-GB%2Cen-US%2Cen%2Car%26Google%20Inc.%26Win32%26255%261366%26768%268%2624%261366%26728%260%26na&amp;eci=2&amp;event_id=d84b2d3e-2481-4884-88e9-429c93d6f56b&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=68298a33-c2ff-49e2-bcde-5cd314729859&amp;tw_document_href=https%3A%2F%2Fnext.amboss.com%2Fus%2Flogin&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o6en3&amp;type=javascript&amp;version=2.3.31"
        height="1" width="1" style="display: none;"> -->
</body>


