:root {
    --color-torq: #047a88
    --nutral--black: black;
    --sm: 12px;
    --grey--dark03: #293b47;
    --brand--regular: var(--brand--dark01);
    --text-grey: #536776;
    --space--xxs: 8px;
    --tag-bg: #ceedf1;
    --space--xs: 16px;
    --brand--dark01: #067c89;
    --brand--light03: #e7f6f8;
    --space--xxxs: 4px;
    --button-primary-bg: #047a88;
    --brand--dark02: #054f57;
    --neutral--white: white;
    --button-secondary-border: #bdc9d1;
    --grey--dark02: #40515e;
    --grey--light04: #f5f7f9;
    --space--m: 32px;
    --space--s: 24px;
    --space--xxxl: 64px;
    --space--l: 40px;
    --orange--light01: #f6c66f;
    --brand--light02: #bfedf2;
    --space--xxxxl: 96px;
    --space--xl: 48px;
    --grey--light03: #eef2f5;
    --green--light03: #e8f8f4;
    --grey--light02: #e0e6eb;
    --grey--regular: #607585;
    --grey--light01: #a3b2bd;
    --white: white;
    --orange--light02: #fceaca;
    --orange--light03: #fef3e1;
    --tag-brand: #015a64;
    --space--xxl: 56px;
    --orange--utility-orange-200: #f4cb81;
    --brand--light01: #ceedf1;
    --color: white;
    --black: black;
    --red: #f97066;
    --red-500: #d93c3a;
    --color-3: white;
    --brand--light03: #e7f6f8;
    --space--m: 32px;
    --space--s: 24px;
}

.background {
    background: url('/images/GLOBE.jpg');
    width: 90rem;
    height: 33rem;
    background-size: 100%;

    position: relative;
    left: 0px;
}

.section-1col.bg-imghomeint {
    background-image: url('/images/GLOBE.png');
    background-position: 50%;
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 76vh;
    width: 74vw;
    position: relative;
    left: 14%;
    top:5vw;
}
.btn-lg-brand {
    border-radius: var(--space--xxxs);
    background-color: var(--button-primary-bg);
    text-align: center;
    text-transform: none;
    align-self: center;
    padding: 12px 20px;
    transition: background-color .2s;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.cell-3col {
    grid-column-gap: var(--space--xs);
    grid-row-gap: var(--space--xs);
    align-items: center;
}
.section-3col {
    padding-top: var(--space--xl);
    padding-bottom: var(--space--xl);
    position: relative;
    left: 7%;
    top: 3vw;
}
.txt-3col {
    grid-column-gap: var(--space--xxxs);
    grid-row-gap: var(--space--xxxs);
    text-align: center;
    flex-direction: column;
    display: flex;
    align-self: center;
}
/* #eef2f5 */
.ic-3col {
    width: 96px;
    height: 96px;
    position: relative;
    left: 39%;
}
#w-node-_96373deb-555d-421c-6287-eddd93098bfd-f07b2df5,
#w-node-_745a8fea-f967-cc71-d769-f92365d6cdbe-f07b2df5,#w-node-_477e944f-c45c-54d9-f203-dcadca5a366c-f07b2df5, #w-node-_6214a89b-3c08-5edb-05dd-b457051d4dad-f07b2df5 {
    display: grid;
    gap: 1vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
#w-node-_745a8fea-f967-cc71-d769-f92365d6cdbe-f07b2df5{
    position: relative;
    left: 5%;
    top: 10vw;
}
#w-node-_6214a89b-3c08-5edb-05dd-b457051d4dad-f07b2df5{
    position: relative;
    left: 5%;
    height: 55vw;
}
._3colhorizontalcontent {
    grid-column-gap: var(--space--xs);
    grid-row-gap: var(--space--xs);
    align-items: center;
    display: flex;
}
.ic-3col.ic-resizehorizontal {
    width: 54px;
}
.align-left {
    text-align: left;
}
.container-3col {
    max-width: 1240px;
}
.w-layout-cell {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
h1 {
    margin-top: 0vw;
    margin-bottom: var(--sm);
    color: var(--grey--dark03);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    top: 8vw;
    left: 7vw;

}
h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}
.textalign-center {
    text-align: center;
}
.weight-bold {
    font-weight: 700;
}
.btn-lg-white {
    border: 1px solid var(--button-secondary-border);
    border-radius: var(--space--xxxs);
    background-color: var(--neutral--white);
    color: var(--grey--dark02);
    text-align: center;
    align-self: center;
    padding: 12px 20px;
    position: relative;
    top: 14vw;
    text-decoration: none;
    left: 40%;
}
.btn-companion {
    margin-top: 25px;
    margin-bottom: 1rem;
}
.container-centered {
    padding-right: var(--space--xs);
    padding-left: var(--space--xs);
    grid-column-gap: var(--space--xs);
    grid-row-gap: var(--space--xs);
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    display: flex;
}

.section-1col.bg-homepage {
    background-image: url("https://cdn.prod.website-files.com/64f59b196c6b3f1ee358eb8c/65241025bfc9e8357c448b9f_i63ex2yqzclmryngmry7.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 11vw;
    height: 50vw;
}
.section-5050.bg-brandlight03 {
    background-color: var(--brand--light03);
}
.cell-5050 {
    grid-column-gap: var(--space--s);
    grid-row-gap: var(--space--s);
    justify-content: center;
}
#answers{
    top: 1vw;
}
/* #w-node-_745a8fea-f967-cc71-d769-f92365d6cdbe-f07b2df5, #w-node-_477e944f-c45c-54d9-f203-dcadca5a366c-f07b2df5 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
} */

.container-title {
    grid-column-gap: var(--space--xxxs);
    grid-row-gap: var(--space--xxxs);
    flex-direction: column;
    display: flex;
}
.card.cardsignup {
    padding-top: var(--space--m);
    padding-bottom: var(--space--m);
    grid-column-gap: var(--space--s);
    grid-row-gap: var(--space--s);
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0px 0px 20px 15px #80808024;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 6vw;
    background-color: white;
    width: 100%;
    padding: 0 2vw;
    gap: 1vw;
    border-bottom: 1px solid #eef2f5;
}


.navbar img {
    position: relative;
    right: 7%;
    top: 0vw;
    width: 10%;
    height: 100%;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: relative;
    top: 1vw;
}

.tabBar {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3%;
    left: 1%;
    width: 77%;
    gap: 3vw;
}
#mobiles{
    width: 100%;
}
/* .tabBar a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 77%;
    width: 16%;
    padding-top: 2%;
    padding-left: 2%;
} */
.tabBar a{
    padding: var(--space--xxs) 0px 8px;
    grid-column-gap: var(--space--xxs);
    grid-row-gap: var(--space--xxs);
    color: var(--text-grey);
    align-self: center;
    text-decoration: none;
    display: flex;
    transform: none;
    padding-top: 2%;
    padding-left: 2%;
}
.tabBar a:hover {
    color: var(--grey--dark02);
}

.navbar button[id="signIn"] {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    width: auto;
    min-width: 120px;
    position: relative;
    left: 10px;
    top: 0;
    font-size: 16px;
    display: inline-block;
}

#pricing-toggle {
    color: black;
    font-size: small;
    top: -0.2vw;
    position: relative;
    transform: rotate(180deg);
}
.navbar button[id="signUp"] {
    background-color: #047a88   ;
    border: 2px;
    color: white;
    /* Example of adding a border */
    border-radius: 10px;
    padding: 10px 20px;
    /* Adjust horizontal padding as needed */
    width: auto;
    /* Let the button adjust its width based on content */
    min-width: 120px;
    /* Ensures a minimum width for the button */
    position: relative;
    left: 20px;
    top: 0;
    font-size: 16px;
    /* Adjust font size as needed */
    display: inline-block;
    /* Ensure button doesn't collapse */
}