:root {
    --color-background: #EEF2F5;
    --color-torq: #047a88;
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    height: 200vh;
    overflow-y: scroll;
}
.post-tags span {
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: #3078D8;
    cursor: pointer;

}
.postsContainer {
    position: absolute;
    display: none;
    top: 4%;
    flex-direction: column; 
    gap: 1vw;
    border-radius: 10px;
    left: 20%;
    width: 64%;
    z-index: 20;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
    background: white;
    align-items: center;
    padding: 3%;
    border-radius: 5px;
}   
.css-gkrxgl-StyledText {
    font-family: Lato, "Apple Symbols", BlinkMacSystemFont, "segoe ui", "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
    margin: 0px;
    text-transform: none;
    text-align: left;
    font-weight: 600;
    color: rgb(26, 28, 28);
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: normal;
}
.css-1k7990c-StyledButton {
    
    border: 1px solid rgb(163, 178, 189);
    margin: 0px;
    text-transform: none;
    text-decoration: none;
    border-radius: 4px;
    font-family: Lato, "Apple Symbols", BlinkMacSystemFont, "segoe ui", "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    cursor: pointer;
    padding: 11px 23px;
    background-color: white;
    color: rgb(64, 81, 94);
    position: relative;

    display: flex;
    /* Or inline-flex */

    align-self: flex-end;
}
.css-sh7anr-StyledBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 0px 3px 2px #8080803b;
}
.css-1k7990c-StyledButton:hover {
    border-color: rgb(96, 117, 133);
    background-color: rgba(96, 117, 133, 0.05);
}
.circle-button {
    width: 30px;
    height: 30px;
    background-color: #F5F7FA;
    border: 1px solid #D3D8DE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: absolute;
    top: 10%;
    z-index: 1;
    left: 7%;
    transition: left 0.3s ease;
}
.circle-button:hover {
    background-color: #E2E8F0;
    /* Slightly darker on hover */
}
/* .view-post {
    width: 59%;
    height: fit-content;
    background-color: white;
    padding: 3vw;
    border-radius: 20px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "segoe ui", "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
    position: relative;
    left: 26%;
    top: 8vw;

} */
.view-post {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3vw;
    border-radius: 20px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "segoe ui", "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
    position: absolute;
    align-self: center;
    top: 9%;
    margin-left: 3%;
    align-items: center;
    overflow-y: auto;
}
.chapters-list{
    list-style: none;
    width: 85vw;
}
.list-icon {
    margin-right: 2%;
    cursor: pointer;
}
ul li section {
    display: none;
    width: 95%;
    height: fit-content;
    overflow-y: auto;
    margin-top: 1vw;
    margin-left: 3vw;
}

ul li section.active {
    display: block;
}   

.post-image {
    height: 20%;
    width: 20%;
    border-radius: 10px;
}
